{% extends 'base.html.twig' %}

{% block title %}Strona logowania{% endblock %}

{% block body %}

    <div class="container" style="max-width: 800px;">
    <div class="form-group mt-5">
    <h1>Strona logowania</h1>
    <form action="{{ path('login') }}" method="post">
        <input class="form-control" type="text" name="_username" value="{{ lastUsername }}" placeholder="Login...">
        <input class="form-control mt-3" id="exampleInputPassword1" type="password" name="_password" placeholder="Hasło...">


        <button class="btn btn-primary mt-3" type="submit">Zaloguj</button>
        <a href="register"><button type="button" class="btn btn-success mt-3">rejestracja</button></a>
    </form>

        {% if error %} <div class="text-danger mt-2">{{ error.messageKey }}</div> {% endif %}


    </div>
    </div>

{% endblock %}
