<nav id="gameBar" class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; bottom: 0; width: 100%; background-color: red; transition: 0.4s;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
            <div class="row">
                Saldo
            </div>
            <div class="row mt-2">
                <h2 id="score">$ {{ app.user.score }}</h2>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 form-group">
            <label for="exampleSelect2">Stawka</label>
            <select id="bid" class="form-control">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="300">300</option>
            </select>
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-1">
            <div class="row">
                Win
            </div>
            <div class="row mt-2">
                <h2 id="result" class="text-danger"></h2>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</nav>